---
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import readingTime from "@components/utils/readingTime";

const { 
    post,
    size = "sm",
    ...htmlAttributes
} = Astro.props;
---

<div class="feature-date-container" {...htmlAttributes}>
    { size == "sm" && 
        <Icon name="calendar" size={size} />
    }
    <SimpleText
        alignX="start"
        size={size}
        class="feature-date"
        editable={false}
        style="margin-top:0;"
    >
    { post && new Date(post.data.date).toLocaleDateString('en-US', {
        year: 'numeric',
        month: size == 'sm' ? 'short' : 'numeric',
        day: 'numeric',
    }) }
    </SimpleText>
    <div class:list={[`divider`,`size-${size}`]}>•</div>
    <Icon name="clock" size={size} />
    <SimpleText
        alignX="start"
        size={size}
        class="reading-time"
        editable={false}
        style="margin-top:0;"
    >
        { readingTime(post)}
    </SimpleText>
</div>

<style>
    .feature-date-container{
        margin-top:auto;
        color:var(--color-text-muted);
        display: flex;
        align-items: center;
        gap: 8px;

        *{
            color:var(--color-text-muted);
            stroke:var(--color-text-muted);
        }

        .divider{
            line-height:1.6;
        }

        .divider.size-xs{
            font-size: var(--font-size-xs);
        }

        .divider.size-sm{
            font-size: var(--font-size-sm);
        }
    }
</style>