---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import BentoBoxGridItem from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGridItem.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";

import { popularArticles } from "@data/popularArticles.json";
import { getEntry } from "astro:content";
import readingTime from "@components/utils/readingTime";

const popularPosts = popularArticles.map((x) =>
  x.replace("/src/content/blog/", "").replace(".mdx", "")
);
---

<div class="blog-card">
  <Heading
    text="Popular Articles"
    level="h3"
    size="sm"
  >
    <Icon
      name="arrow-trending-up"
      color="orange"
      size="md"
    />
    Popular Articles
  </Heading>

  {
    popularPosts.map(async (article) => {
      const post = await getEntry("blog", article);
      return (
        <BentoBoxGridItem
          columnSpan={6}
          rowSpan={1}
        >
          <Split
            verticalAlignment="center"
            distributionMode="third-two-thirds"
          >
            <Fragment slot="first">
              <Image
                source={post.data.image}
                aspectRatio="square"
                rounded={true}
              />
            </Fragment>
            <Fragment slot="second">
              <SimpleText
                size="sm"
                class="popular-article-title"
              >
                {post.data.title}
              </SimpleText>
              <div class="feature-date-container">
                <SimpleText
                  alignX="start"
                  size="xs"
                  class="feature-date"
                  editable={false}
                >
                  { new Date(post?.data.date).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'numeric',
                    day: 'numeric',
                  }) }
                </SimpleText>
                <div class="divider">•</div>
                <Icon name="clock" size="md" />
                {readingTime(post)}
              </div>
            </Fragment>
          </Split>
        </BentoBoxGridItem>
      );
    })
  }
</div>

<style>
  .blog-card {
    :global(.heading){
      margin:0;
      :global(.heading-text) {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    :global(.bento-box-grid-item-content){
      padding:0;
    }

    :global(.split-inner) {
      grid-template-columns: 80px 1fr !important;

      :global(.pane.second) {
        :global(.popular-article-title .simple-text-inner) {
          font-family: "Poppins";
          margin: 0 !important;
          font-weight: bold;
        }
      }
    }
  }
</style>
