---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";

import SearchResult from "./SearchResult.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import Button from "@components/building-blocks/core-elements/button/Button.astro";
import SearchInput from "./SearchInput.astro";
import Breadcrumb from "@components/page-sections/blog/Breadcrumb.astro";
import ArticleCardVertical from "@components/page-sections/blog/ArticleCardVertical.astro";

const {
    heading = "",
    description = "",
    backgroundColor = "",
    variation = "full-width"
} = Astro.props;
---

<CustomSection
    backgroundColor={backgroundColor}
    backgroundImage={
      {
        "source":"/src/assets/images/Service Mark.svg",
        "positionHorizontal":"right"
      }
    }
    maxContentWidth={"2xl"}
    paddingHorizontal="lg"
    paddingVertical={"xl"}
>
    { variation === "left-right" ?
        <>
            <Split
                distributionMode="two-thirds-third"
                style="margin-top:0"
                verticalAlignment="center"
            >
                <Fragment slot="first">
                    <Breadcrumb
                        style="color:white"
                        crumbs={[
                            {"Home":"/"},
                            {"Insights":"/insights/"},
                            {[heading]:""}
                        ]}
                    />
                    <Heading 
                        level="h1" 
                        size="lg"
                        style="margin:12px 0"
                    >
                        {heading}
                    </Heading>
                    <SimpleText
                        style="color:white;margin:0"
                    >
                        {description}
                    </SimpleText>
                </Fragment>
                <Fragment slot="second">
                    <SearchInput borderless={true} />
                </Fragment>
            </Split>

            <script> 
                import { isKeyboardEvent } from "@components/utils/isKeyboardEvent";

                document.querySelector("input[name=search]")?.addEventListener("keydown", (e:Event) => {
                    if(!isKeyboardEvent(e))
                        throw new Error('not a keyboard event');

                    if(e.key == "Enter"){
                        const term = (e.target as HTMLInputElement).value;
                        if(term != "")
                            window.location.href = `/search/?term=${term}`
                    }
                })
            </script>
        </>
        :
        <Breadcrumb
            style="color:white"
            crumbs={[
                {"Home":"/"},
                {"Insights":"/insights/"},
                {[heading]:""}
            ]}
        />
        <Heading level="h1" size="lg">
            {heading}
        </Heading>

        <link href="/pagefind/pagefind-modular-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-modular-ui.js" is:inline></script>
        <div style="display:flex;gap:16px">
            <SearchInput 
                iconPosition="before" 
                borderless={true}
                style="height:100%;margin:0"
            />
            <Button class:list={["search-button"]} variant="primary">Search</Button>
        </div>

        <SearchResult 
            id="card-template" 
            Component={ArticleCardVertical}
        />

        <script>
            import { isKeyboardEvent } from "@components/utils/isKeyboardEvent";
            import {
                ResultListCustom
            } from "@components/utils/customPagefind";
            
            window.addEventListener('DOMContentLoaded', (event) => {
                const instance = window.instance;
                const searchInput = document.querySelector("input[name=search]") as HTMLInputElement;
                const params = new URLSearchParams(window.location.search);

                instance.add(
                    new ResultListCustom({
                        containerElement: "#results"
                    })
                );

                if(params.size > 0){
                    const term = params.get("term");
                    if(searchInput)
                        searchInput.value = term || "";
                    instance.triggerSearch(term);
                }

                const search = (term:string) => {
                    if(term != ""){
                        const url = new URL(window.location.href);
                        url.searchParams.set('term', term);
                        window.history.pushState(null, '', url.toString());
                        instance.triggerSearch(term);
                    }
                }

                document.querySelector(".search-button")?.addEventListener("click", e => {
                    const term = searchInput?.value
                    search(term);
                })

                searchInput?.addEventListener("keydown", (e:Event) => {
                    if(!isKeyboardEvent(e))
                        throw new Error('not a keyboard event');

                    if(e.key == "Enter"){
                        const term = (e.target as HTMLInputElement).value;
                        search(term);
                    }
                })
            });
        </script>
    }
    
</CustomSection>

<style is:global>
    .bg-brand-linear-gradient-strong{
      + .content h1{
        color:white;
      }
    }

    .background-image{
      img{
        object-fit:contain;
      }
    }

    .search-button{
        a{
            width: fit-content;
            min-width: 180px;
            height:100%
        }
    }
</style>