---
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";

import SearchResult from "./SearchResult.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import Button from "@components/building-blocks/core-elements/button/Button.astro";
import SearchInput from "./SearchInput.astro";
import Input from "@components/building-blocks/forms/input/Input.astro";

const {
    heading = "",
    description = "",
    backgroundColor = "",
    variation = "full-width"
} = Astro.props;
---

<CustomSection
    backgroundColor={backgroundColor}
    backgroundImage={
      {
        "source":"/src/assets/images/Service Mark.svg",
        "positionHorizontal":"right"
      }
    }
    maxContentWidth={"2xl"}
    paddingHorizontal="lg"
    paddingVertical={"2xl"}
>
    { variation === "left-right" ?
        <>
            <Split
                distributionMode="two-thirds-third"
            >
                <Fragment slot="first">
                    <Heading level="h1" size="lg">
                        {heading}
                    </Heading>
                    <SimpleText
                        style="color:white"
                    >
                        {description}
                    </SimpleText>
                </Fragment>
                <Fragment slot="second">
                    <SearchInput borderless={true} />
                </Fragment>
            </Split>

            <script> 
                document.querySelector("input[name=search]")?.addEventListener("keydown", e => {
                    if(e.keyCode == 13){
                        const term = e.target.value;
                        if(term != "")
                            window.location.href = `/search/?term=${term}`
                    }
                })
            </script>
        </>
        :

        <Heading level="h1" size="lg">
            {heading}
        </Heading>

        <link href="/pagefind/pagefind-modular-ui.css" rel="stylesheet">
        <script src="/pagefind/pagefind-modular-ui.js" is:inline></script>
        <div style="display:flex;gap:16px">
            <SearchInput 
                iconPosition="before" 
                borderless={true}
                style="height:100%;margin:0"
            />
            <Button class:list={["search-button"]} variant="primary">Search</Button>
        </div>

        <SearchResult id="card-template" />

        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                const instance = new PagefindModularUI.Instance();
                const params = new URLSearchParams(window.location.search);
                
                instance.add(new PagefindModularUI.ResultList({
                    containerElement: "#results",
                    
                    resultTemplate: (result) => {
                        console.log(result)
                        let template = document.getElementById("card-template")?.innerHTML;
                        template = template?.replace("[[PAGEFIND-TITLE]]", result.meta.title)
                        template = template?.replace("[[PAGEFIND-IMAGE]]", result.meta.image)
                        template = template?.replace("[[PAGEFIND-EXCERPT]]", result.excerpt)
                        template = template?.replace("[[PAGEFIND-DATE]]", new Date(result.meta.date).toLocaleDateString('en-US', {
                            year: 'numeric',
                            month: 'short',
                            day: 'numeric',
                        }))
                        template = template?.replace("[[PAGEFIND-TOPIC]]", result.meta.topic)

                        const readingTime = `${Math.ceil(result.word_count / 200)} min read`;
                        template = template?.replace("[[PAGEFIND-READINGTIME]]", readingTime)
                        return template;
                    }
                }));

                if(params.size > 0){
                    const term = params.get("term");
                    document.querySelector("input[name=search]").value = term;
                    instance.triggerSearch(term);
                }
            });
        </script>
    }
    
</CustomSection>

<style is:global>
    .bg-brand-linear-gradient-strong{
      background: linear-gradient(283.67deg, #873D0E 8.88%, #7D3F1A 36.55%, #614539 88.24%);
      
      + .content h1{
        color:white;
      }
    }

    .background-image{
      img{
        object-fit:contain;
      }
    }

    .search-button{
        a{
            width: fit-content;
            min-width: 180px;
            height:100%
        }
    }
</style>