---
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Text from "@core-elements/text/Text.astro";
import ContentSelector from "@wrappers/content-selector/ContentSelector.astro";
import ContentSelectorPanel from "@wrappers/content-selector/ContentSelectorPanel.astro";

import tags from "@data/topics.json";
import Grid from "@components/building-blocks/wrappers/grid/Grid.astro";
import GridItem from "@components/building-blocks/wrappers/grid/GridItem.astro";

import { getCollection } from "astro:content";

const {
  id = "",
  heading = "",
  subtext = "",
  colorScheme = "inherit",
  featuredArticles = [],
  backgroundColor,
  class: className,
  editable = false,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["blog-by-tags", className]}
  paddingHorizontal="lg"
  paddingVertical={"2xl"}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  maxContentWidth={"2xl"}
  id={id}
  {...htmlAttributes}
>
  <ContentSelector navigationPosition="top">
    {tags.map(async (tag,index) => {
      const posts = await getCollection('blog', ({ data }) => {
        return data.topic === tag;
      })

      return <ContentSelectorPanel title={tag} checked={index === 0}>
        <Heading alignX="start" level="h2" size="sm">
          {tag}
        </Heading>
        <Grid>
          { posts.slice(0,4).map(post => 
              <GridItem>
                <Heading level="h3">
                  {post.data.title}
                </Heading>
                <Text>
                  <p>{post.data.description}</p>
                </Text>
              </GridItem>
            )
          }
        </Grid>
      </ContentSelectorPanel>
    })}
  </ContentSelector>
</CustomSection>

<style is:global>
  @layer page-sections {
    .content-selector-tab-heading{
      font-size: var(--font-size-md);
    }
  }
</style>