---
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Text from "@core-elements/text/Text.astro";
import ContentSelector from "@wrappers/content-selector/ContentSelector.astro";
import ContentSelectorPanel from "@wrappers/content-selector/ContentSelectorPanel.astro";

import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";
import BentoBoxGridItem from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGridItem.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";

import { getCollection } from "astro:content";
import tags from "@data/topics.json";

const {
  id = "",
  heading = "",
  subtext = "",
  colorScheme = "inherit",
  featuredArticles = [],
  backgroundColor,
  class: className,
  editable = false,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["blog-by-topic", className]}
  paddingHorizontal="lg"
  paddingVertical={"2xl"}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  maxContentWidth={"2xl"}
  id={id}
  {...htmlAttributes}
>
  <ContentSelector navigationPosition="top">
    {tags.map(async (tag,index) => {
      const posts = await getCollection('blog', ({ data }) => {
        return data.topic === tag;
      })

      return <ContentSelectorPanel title={tag} checked={index === 0}>
        <Heading alignX="start" level="h2" size="sm">
          {tag}
        </Heading>
        <BentoBoxGrid>
          { posts.slice(0,4).map(post => 
              <BentoBoxGridItem
                columnSpan={6}
                rowSpan={1}
              >
                <Split 
                  verticalAlignment="center"
                  distributionMode="third-two-thirds"
                >
                  <Fragment slot="first">
                    <Image source={post.data.image} aspectRatio="square" />
                  </Fragment>
                  <Fragment slot="second">
                    <Heading level="h3" size="xs">
                      {post.data.title}
                    </Heading>
                    <Text>
                      <p>{post.data.description}</p>
                    </Text>
                  </Fragment>
                </Split>
              </BentoBoxGridItem>
            )
          }
        </BentoBoxGrid>
      </ContentSelectorPanel>
    })}
  </ContentSelector>
</CustomSection>

<style>
  .blog-by-topic{
    :global(.content-selector-tab-heading){
      font-size: var(--font-size-md);
      font-weight: normal;
    }

    :global(.content-selector-input:checked + .content-selector-tab .content-selector-tab-heading){
      font-weight:bold;
    }

    :global(.bento-box-grid-item-content){
      padding:16px;
      border: 1px solid var(--color-border-subtle);
    
      :global(.split-inner){
        grid-template-columns: 128px 1fr!important;

        & .pane.second{ 
          & h3, & p, & .text{
            margin:0!important;
          }
        }
      }
    }
  }
</style>