---
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import ContentSelector from "@wrappers/content-selector/ContentSelector.astro";
import ContentSelectorPanel from "@wrappers/content-selector/ContentSelectorPanel.astro";

import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";
import BentoBoxGridItem from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGridItem.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";

import { getCollection } from "astro:content";
import topics from "@data/topics.json";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";

import readingTime from "@components/utils/readingTime";
import Card from "@components/building-blocks/wrappers/card/Card.astro";

const {
  id = "",
  heading = "",
  subtext = "",
  colorScheme = "inherit",
  featuredArticles = [],
  backgroundColor,
  class: className,
  editable = false,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["blog-by-topic", className]}
  paddingHorizontal="lg"
  paddingVertical={"2xl"}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  maxContentWidth={"2xl"}
  id={id}
  {...htmlAttributes}
>
  <ContentSelector navigationPosition="top">
    {topics.map(async (topic,index) => {
      const posts = await getCollection('blog', ({ data }) => {
        return data.topic === topic.name;
      })

      return <ContentSelectorPanel title={topic.name} checked={index === 0}>
        <Heading alignX="start" level="h2" size="sm">
          {topic.name}
        </Heading>
        <BentoBoxGrid>
          { posts.slice(0,4).map(post => 
              <BentoBoxGridItem
                columnSpan={6}
                rowSpan={1}
                style="background:white"
              >
                <Card
                  paddingVertical="none"
                  style="margin-top:0"
                  link={`/insights/${post.id}`}
                >
                  <Split 
                    verticalAlignment="center"
                    distributionMode="third-two-thirds"
                    style="margin-top:0"
                  >
                    <Fragment slot="first">
                      <Image source={post.data.image} aspectRatio="square" />
                    </Fragment>
                    <Fragment slot="second">
                      <Heading level="h3" size="xs">
                        {post.data.title}
                      </Heading>
                      <div class="feature-date-container">
                        <SimpleText
                          alignX="start"
                          size="xs"
                          class="feature-date"
                          editable={false}
                        >
                          { new Date(post?.data.date).toLocaleDateString('en-US', {
                            year: 'numeric',
                            month: 'numeric',
                            day: 'numeric',
                          }) }
                        </SimpleText>
                        <div class="divider">•</div>
                        <Icon name="clock" size="none" />
                        {readingTime(post)}
                      </div>
                    </Fragment>
                  </Split>
                </Card>
              </BentoBoxGridItem>
            )
          }
        </BentoBoxGrid>
      </ContentSelectorPanel>
    })}
  </ContentSelector>
</CustomSection>

<style>
  .blog-by-topic{
    :global(.content-selector-tab-heading){
      font-size: var(--font-size-md);
      font-weight: normal;
    }

    :global(.content-selector-input:checked + .content-selector-tab .content-selector-tab-heading){
      font-weight:bold;
    }

    :global(.bento-box-grid-item-content){
      padding:16px;
      border: 1px solid var(--color-border-subtle);
      border-radius: var(--radius-xs);
      overflow: hidden;

      &:hover{
        border-color:var(--color-border-strong);

        :global(.heading-text){
          color:var(--color-bg-brand);
        }
      }
    
      :global(.split-inner){
        grid-template-columns: 128px 1fr!important;

        & .pane.second{ 
          & h3, & p, & .text{
            margin:0!important;
          }
        }
      }
    }

    :global(.feature-date-container, .feature-date){
      margin-top:0;
      color:#5A5A5A;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    :global(.feature-date-container){
      display:flex;
      align-items: center;
      gap:8px;
      font-size:var(--font-size-sm);
      *{
        font-size:var(--font-size-sm);
        color:#5A5A5A;
      }

      & svg>*{
        stroke:#5A5A5A;
      }
    }
  }
</style>