---
import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import ContentSelector from "@wrappers/content-selector/ContentSelector.astro";
import ContentSelectorPanel from "@wrappers/content-selector/ContentSelectorPanel.astro";

import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";

import { getCollection } from "astro:content";
import topics from "@data/topics.json";
import ArticleCardHorizontal from "../ArticleCardHorizontal.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";

const {
  id = "",
  colorScheme = "inherit",
  backgroundColor,
  class: className,
  editable = false,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["blog-by-topic", className]}
  paddingHorizontal="lg"
  paddingVertical={"2xl"}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  maxContentWidth={"2xl"}
  id={id}
  {...htmlAttributes}
>
  <ContentSelector navigationPosition="top">
    {topics.map(async (topic,index) => {
      const posts = await getCollection('blog', ({ data }) => {
        return data.topic === topic.name;
      })

      return <ContentSelectorPanel title={topic.name} checked={index === 0}>
        <div style="display:flex;align-items:center;justify-content:space-between">
          <Heading alignX="start" level="h2" size="sm">
            Popular in {topic.name}
          </Heading>
          <SimpleText
            class:list={["see-more-desktop"]}
            style="margin:0"
          >
            <a href={`/insights/${topic.name}`} style="font-weight:bold;color:inherit">See more {topic.name} articles</a>
          </SimpleText>
        </div>
        <BentoBoxGrid
          gap="md"
          class:list={["popular-articles-grid"]}
        >
          { posts.slice(0,4).map(post => 
              <ArticleCardHorizontal post={post} columnSpan={6} />
            )
          }
        </BentoBoxGrid>
        <SimpleText
          class:list={["see-more-mobile"]}
          alignX="center"
          
        >
          <a href={`/insights/${topic.name}`} style="font-weight:bold;color:inherit">See more {topic.name} articles</a>
        </SimpleText>
      </ContentSelectorPanel>
    })}
  </ContentSelector>
</CustomSection>

<style>
  .blog-by-topic{
    :global(.content-selector-tab-heading){
      font-size: var(--font-size-md);
      font-weight: normal;
    }

    :global(.content-selector-input:checked + .content-selector-tab .content-selector-tab-heading){
      font-weight:bold;
    }

    .see-more-desktop{
      display:none;

      @media(min-width:748px){
        display:flex;
      }
    }

    .popular-articles-grid{
      margin-top:0;
    }

    .see-more-mobile{
      display:flex;
      justify-content: center;
      margin-top: var(--spacing-2xl);

      @media(max-width:639px){
        margin-top: var(--spacing-lg);
      }

      @media(min-width:748px){
        display:none;
      }
    }
  }
</style>