---
import topics from "@data/topics.json";

import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import HeroSearch from "@components/page-sections/heroes/hero-search/HeroSearch.astro";
import Page from "@layouts/Page.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import ArticleCardHorizontal from "@components/page-sections/blog/ArticleCardHorizontal.astro";
import ExploreTopicsCta from "@components/page-sections/blog/explore-topics-cta/ExploreTopicsCta.astro";
import CtaCenter from "@components/page-sections/ctas/cta-center/CtaCenter.astro";
import SearchResult from "@components/page-sections/heroes/hero-search/SearchResult.astro";
import PagefindResults from "@components/page-sections/search/PagefindResults.astro";
import FeaturedBlogCard from "@components/page-sections/blog/FeaturedBlogCard.astro";

export interface Props {
  page: CollectionEntry<"pages">;
}

export async function getStaticPaths() {
  return topics.map((topic) => ({
    params: { topic: topic.name },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const posts = await getCollection('blog', ({ data }) => {
  return data.topic === topic.name;
});

let featuredArticle = topics.filter(x => x.name === topic.name)[0].featuredArticle;

if(featuredArticle)
  featuredArticle = featuredArticle.replace("/src/content/insights/","").replace(".mdx","")
const featuredPost = posts.filter(x => x.id === featuredArticle)[0]
---

<div id="page-data" data-topic={topic.name}></div>
<Page
  
>
  <HeroSearch 
    heading={topic.name}
    description={topic.description}
    backgroundColor="brand-linear-gradient-strong"
    variation="left-right"
  />

  <CustomSection
    maxContentWidth="2xl"
    paddingHorizontal="lg"
    paddingVertical="2xl"
    colorScheme="inherit"
    backgroundColor="base"
    class="topic-container"
  >
    {
      featuredPost && 
      <FeaturedBlogCard featuredPost={featuredPost} direction="horizontal" />
    }
  </CustomSection>
  <CustomSection
    maxContentWidth="2xl"
    paddingHorizontal="lg"
    paddingVertical="2xl"
    colorScheme="inherit"
    backgroundColor="muted"
    class="search-container"
  >
    <SearchResult 
      id="card-template" 
      Component={ArticleCardHorizontal}
      ComponentProps={{columnSpan:6}}
    />
    <PagefindResults
      id="topics"
      heading={`All in ${topic.name}`}
      showResultsCount={false}
      hasPagination={true}
    />
    
      <script src="/pagefind/pagefind-modular-ui.js" is:inline></script>
      <script>
        import {
            ResultListCustom
        } from "@components/utils/customPagefind";

        window.addEventListener('DOMContentLoaded', (event) => {
          const el = document.getElementById('page-data');
          const topic = el?.dataset.topic || "";
          const instance = window.instance;
          instance.add(
              new ResultListCustom({
                  containerElement: "#topics",
                  perPage:10
              })
          );
          instance.triggerSearchWithFilters("__all__",{"topic":topic});
        });
      </script>
    
  </CustomSection>
  <ExploreTopicsCta 
    backgroundColor="brand-linear-gradient-strong"
  />
  <CtaCenter
    image="/src/assets/images/img_moneyhand.png"
    imageAlt=""
    heading="Need extra cash?"
    subtext="A simple, secure way to cover urgent expenses."
    buttonSections={[
      {
        _component:"building-blocks/core-elements/button",
        text:"Apply Now",
        hideText:false,
        link:"",
        iconName:"",
        iconPosition:"before",
        variant:"primary",
        size:"md"
      }
    ]}
    colorScheme="inherit"
    backgroundColor="muted"
    rounded={false}
  />
</Page>

<style>
  .featured-article{
    box-shadow: 0px 1px 4px 0px rgba(12,12,13,0.1);

    &:hover{
      box-shadow: 0px 16px 32px -4px rgba(12,12,13,0.1);
      :global(.heading-text){
        color:var(--color-bg-brand);
      }
    }

    
  }
</style>