---
import topics from "@data/topics.json";

import CustomSection from "@components/page-sections/builders/custom-section/CustomSection.astro";
import HeroSearch from "@components/page-sections/heroes/hero-search/HeroSearch.astro";
import Page from "@layouts/Page.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Card from "@components/building-blocks/wrappers/card/Card.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import Heading from "@components/building-blocks/core-elements/heading/Heading.astro";
import SimpleText from "@components/building-blocks/core-elements/simple-text/SimpleText.astro";
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import readingTime from "@components/utils/readingTime";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import BentoBoxGrid from "@components/building-blocks/wrappers/bento-box-grid/BentoBoxGrid.astro";

export interface Props {
  page: CollectionEntry<"pages">;
}

export async function getStaticPaths() {
  return topics.map((topic) => ({
    params: { topic: topic.name },
    props: { topic },
  }));
}

const { topic } = Astro.props;
const posts = await getCollection('blog', ({ data }) => {
  return data.topic === topic.name;
});

let featuredArticle = topics.filter(x => x.name === topic.name)[0].featuredArticle;
if(featuredArticle)
  featuredArticle = featuredArticle.replace("/src/content/insights/","").replace(".mdx","")
const featuredPost = posts.filter(x => x.id === featuredArticle)[0]
---

<Page
  
>
  <HeroSearch 
    heading={topic.name}
    description={topic.description}
    backgroundColor="brand-linear-gradient-strong"
    variation="left-right"
  />

  <CustomSection
    maxContentWidth="2xl"
    paddingHorizontal="lg"
    paddingVertical="2xl"
    colorScheme="inherit"
    backgroundColor="base"
    class="topic-container"
  >
    {
      featuredPost && 
      <Card
        paddingHorizontal="none"
        paddingVertical="none"
        colorScheme="inherit"
        backgroundColor="base"
        class:list={["featured-article"]}
        backgroundImage={{"source":null,"alt":null,"positionVertical":"top","positionHorizontal":"center"}}
        data-prop={undefined}
        editable={false}
        data-cloudcannon-ignore
        link={`/insights/${featuredPost.id}`}
      >
        <Split
          distributionMode="forty-sixty"
        >
          <Fragment slot="first">
            <Image
              class="blog-image"
              source={featuredPost.data.image}
              alt={""}
              aspectRatio="widescreen"
              widths={[400, 800]}
              sizes="400px"
              editable={false}
              data-prop-src={undefined}
              data-prop-alt={undefined}
              data-cloudcannon-ignore
            />
          </Fragment>
          <Fragment slot="second">
            <Heading
              level="h2"
              size="md"
              alignX="start"
              iconPosition="before"
              text={featuredPost.data.title}
              editable={false}
              data-prop={undefined}
              data-cloudcannon-ignore
              style="margin-bottom:0"
            />
            <SimpleText
              alignX="start"
              size="md"
              editable={false}
              data-prop={undefined}
              data-cloudcannon-ignore
              style="margin-top:0"
            >
              { featuredPost.data.description }
            </SimpleText>
            <div class="feature-date-container" data-cloudcannon-ignore>
              <Icon name="calendar" size="none" />
              <SimpleText
                alignX="start"
                size="sm"
                class="feature-date"
                editable={false}
                data-cloudcannon-ignore
              >
                { new Date(featuredPost.data.date).toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'short',
                  day: 'numeric',
                }) }
                <div class="divider">•</div>
                <Icon name="clock" size="none" />
                { readingTime(featuredPost)}
              </SimpleText>
            </div>
          </Fragment>
        </Split>
      </Card>
    }
  </CustomSection>
  <CustomSection
    maxContentWidth="2xl"
    paddingHorizontal="lg"
    paddingVertical="2xl"
    colorScheme="inherit"
    backgroundColor="muted"
    class="search-container"
  >
    <Heading
      level="h2"
      size="sm"
    >All in {topic.name}</Heading>
    <BentoBoxGrid></BentoBoxGrid>
    {
      posts.map(post => post)
    }
  </CustomSection>
</Page>

<style is:global>
  .content .card-content > .split > .split-inner > .pane.second{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    padding: 32px 0;
  }

  .feature-date-container,
  .feature-date {
    margin-top: 0;
    color: #5a5a5a;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .feature-date-container {
    margin-top:auto;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-size-sm);
    * {
      font-size: var(--font-size-sm);
      color: #5a5a5a;
    }

    & svg > * {
      stroke: #5a5a5a;
    }
  }

  .card {
    box-shadow: 0px 1px 4px 0px rgba(12,12,13,0.1);
    border-radius: var(--radius-xs);
  }
</style>