---
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import Heading from "@core-elements/heading/Heading.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import Card from "@wrappers/card/Card.astro";
import GridItem from "@wrappers/grid/GridItem.astro";

const {
  id,
  title = "",
  description = "",
  date,
  minutesRead = "",
  editable = false,
  class: className,
  _component,
  ...htmlAttributes
} = Astro.props;

const cardClasses = ["blog-item", className].filter(Boolean).join(" ");
---

<GridItem>
  <Card
    {...htmlAttributes}
    class:list={cardClasses || undefined}
    paddingHorizontal="none"
    paddingVertical="sm"
    rounded={false}
    border={false}
    backgroundColor=""
    link={`/blog/${id}`}
  >
    <div class="team-content">
      <Heading class="feature-title" level="h4" size="xs" alignX="start" editable={false}>
        {title}
      </Heading>
      <div class="feature-date-container">
        <Icon name="calendar" size="md" />
        <SimpleText
          alignX="start"
          size="sm"
          class="feature-date"
          editable={false}
        >
          { new Date(date).toLocaleDateString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric',
          }) }
        </SimpleText>
        <div class="divider">•</div>
        <Icon name="clock" size="md" />
        {minutesRead}
      </div>
    </div>
  </Card>
</GridItem>

<style>
  @layer page-sections {
    .feature-title {
      margin-bottom: var(--spacing-sm);
      margin-top: var(--spacing-sm);
    }

    .blog-item{
      border-top: 1px solid var(--color-border-subtle);
      margin-top:0;

      & .divider{
        margin:0;
      }
    }

    .feature-date-container, .feature-date, .feature-date p{
      color:#5A5A5A;
      margin-bottom:0;
    }

    .feature-date-container, .feature-date{
      margin-top:0;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .feature-date-container{
      display:flex;
      align-items: center;
      gap:8px;
      font-size:var(--font-size-sm);
      *{
        font-size:var(--font-size-sm);
        color:#5A5A5A!important;
      }

      & svg>*{
        stroke:#5A5A5A;
      }
    }
  }
</style>
