---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Icon from "@components/building-blocks/core-elements/icon/Icon.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import Card from "@components/building-blocks/wrappers/card/Card.astro";
import Split from "@components/building-blocks/wrappers/split/Split.astro";
import Heading from "@core-elements/heading/Heading.astro";
import SimpleText from "@core-elements/simple-text/SimpleText.astro";
import BlogItem from "@page-sections/blog/featured-blog/BlogItem.astro";
import Grid from "@wrappers/grid/Grid.astro";

import readingTime from "@components/utils/readingTime";
import SearchInput from "@components/page-sections/heroes/hero-search/SearchInput.astro";
import { getCollection } from "astro:content";

const {
  id = "",
  heading = "",
  subtext = "",
  colorScheme = "inherit",
  featuredArticles = [],
  backgroundColor,
  class: className,
  editable = false,
  ...htmlAttributes
} = Astro.props;

const featuredPosts = featuredArticles.map(x => x.replace("/src/content/insights/","").replace(".mdx",""));
const posts = await getCollection('blog', (data) => {
  return featuredPosts.includes(data.id);
})
const featuredPost = posts[0];
---

<CustomSection
  class:list={["featured-articles", className]}
  paddingHorizontal="lg"
  paddingVertical={"2xl"}
  colorScheme={colorScheme}
  backgroundColor={backgroundColor}
  maxContentWidth={"2xl"}
  id={id}
  {...htmlAttributes}
>
  <div style="display:flex; align-items:center;justify-content:space-between">
    <Heading
      class="team-grid-heading"
      level="h1"
      size="lg"
      alignX="start"
      data-prop="heading"
      text={heading}
      style="margin:0"
    />
    <SearchInput
      style="margin:0; max-width:336px"
    />
    <script> 
      document.querySelector("input[name=search]")?.addEventListener("keydown", e => {
          if(e.keyCode == 13){
              const term = e.target.value;
              if(term != "")
                  window.location.href = `/search/?term=${term}`
          }
      })
    </script>
  </div>
  <SimpleText
    class="team-grid-subtext"
    size="md"
    alignX="start"
    data-prop="subtext"
  >
    {subtext}
  </SimpleText>
  <Split
      class={"featured-blog-split"}
      label=""
      distributionMode="two-thirds-third"
      minSplitWidth={760}
      verticalAlignment="start"
      gap="lg"
      editable={false}
      data-cloudcannon-ignore
    >
    <Fragment slot="first" editable={false} data-cloudcannon-ignore data-editable={false}>
      <Card
        paddingHorizontal="lg"
        paddingVertical="lg"
        colorScheme="inherit"
        backgroundColor="base"
        class:list={["featured-article"]}
        backgroundImage={{"source":null,"alt":null,"positionVertical":"top","positionHorizontal":"center"}}
        data-prop={undefined}
        editable={false}
        data-cloudcannon-ignore
        link={`/insights/${featuredPost?.id}`}
      >
        <Image
          class="blog-image"
          source={featuredPost?.data.image}
          alt={""}
          aspectRatio="widescreen"
          widths={[400, 800]}
          sizes="400px"
          editable={false}
          data-prop-src={undefined}
          data-prop-alt={undefined}
          slot="before"
          data-cloudcannon-ignore
        />
        <Heading
          level="h2"
          size="sm"
          alignX="start"
          iconPosition="before"
          text={featuredPost?.data.title}
          editable={false}
          data-prop={undefined}
          data-cloudcannon-ignore
          style="margin-bottom:0"
        />
        <SimpleText
          alignX="start"
          size="md"
          editable={false}
          data-prop={undefined}
          data-cloudcannon-ignore
          style="margin-top:0"
        >
          { featuredPost?.data.description }
        </SimpleText>
        <div class="feature-date-container" data-cloudcannon-ignore>
          <Icon name="calendar" size="none" />
          <SimpleText
            alignX="start"
            size="sm"
            class="feature-date"
            editable={false}
            data-cloudcannon-ignore
          >
            { featuredPost && new Date(featuredPost.data.date).toLocaleDateString('en-US', {
              year: 'numeric',
              month: 'short',
              day: 'numeric',
            }) }
            <div class="divider">•</div>
            <Icon name="clock" size="none" />
            { readingTime(featuredPost)}
          </SimpleText>
        </div>
      </Card>
    </Fragment>
    <Fragment slot="second" editable={false} data-cloudcannon-ignore>
      <Grid
        class="featured-blog-grid"
        gap="md"
        minItemWidth={350}
        maxItemWidth={400}
        data-children-prop={""}
        layout="start"
      >
        <Heading
          level="h2"
          size="sm"
          alignX="start"
          iconPosition="before"
          text={"Featured Posts"}
          editable={false}
        />
        {
          posts.slice(1).map(async (post: any, index: number) => {
            return (
              <BlogItem
                id={post.id}
                minutesRead={readingTime(post)}
                {...post.data}
                class="featured-blog-item"
                data-index={index}
                data-editable={undefined}
                data-id={undefined}
                editable={false}
              />
            )
          })
        }
      </Grid>
    </Fragment>
  </Split>
</CustomSection>

<style>
    :global(.bg-brand-linear-gradient-muted){
      background: linear-gradient(135deg, #FFF4ED 0%, #FFFFFF 50%, #F9FAFB 100%);
    }

    .featured-article{
      box-shadow: 0px 1px 4px 0px rgba(12,12,13,0.1);
      border-radius: var(--radius-xs);
      overflow: hidden;

      &:hover{
        box-shadow: 0px 16px 32px -4px rgba(12,12,13,0.1);
        :global(.heading-text){
          color:var(--color-bg-brand);
        }
      }
    }

    .feature-date-container, .feature-date{
      margin-top:0;
      color:#5A5A5A;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .feature-date-container{
      display:flex;
      align-items: center;
      gap:8px;
      font-size:var(--font-size-sm);
      *{
        font-size:var(--font-size-sm);
        color:#5A5A5A;
      }

      & svg>*{
        stroke:#5A5A5A;
      }
    }

    .card-content{
      display:flex;
      flex-direction: column;
      gap:16px;

      & p, & h4, & .simple-text{
        margin:0;
      }
    }

    .divider{
      margin:0 8px;
    }

    .featured-blog-split{ 
      & :global(.pane.second){
        box-shadow: 0px 1px 4px 0px rgba(12,12,13,0.1);
        padding: 24px;
        background:white;
        border-radius: var(--radius-xs);
        overflow: hidden;
      }
    }

    .featured-blog-grid{
      & .heading{
        margin:0;
      }
    }
  
</style>
