---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Text from "@core-elements/text/Text.astro";
import ButtonGroup from "@wrappers/button-group/ButtonGroup.astro";

const {
  heading = "",
  subtext = "",
  buttonSections = [],
  colorScheme = "inherit",
  backgroundColor,
  class: className,
  rounded = false,
  useDefaultEditableBinding = false,
  _component,
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["cta-center", className]}
  maxContentWidth="2xl"
  paddingHorizontal="lg"
  paddingVertical={"lg"}
  colorScheme={colorScheme}
  rounded={rounded}
  useDefaultEditableBinding={useDefaultEditableBinding}
  {...htmlAttributes}
>
  <div class:list={["cta-content",`bg-${backgroundColor}`]}>
    <Heading
      level="h2"
      size="xl"
      alignX="center"
      data-prop="heading"
      text={heading}
    />
    <Text
      alignX="center"
      data-prop="subtext"
      text={subtext}
    />
    <ButtonGroup
      class="buttonSections"
      buttonSections={buttonSections}
      alignX="center"
      data-children-prop="buttonSections"
    />
  </div>
</CustomSection>

<style is:global>
  @layer page-sections {

    .cta-content{
      padding:32px 24px;
      border: 1px solid #D9D9D9;
    }

    .bg-muted{
      background-color: var(--color-bg-muted);
    }
  }
</style>