---
import CustomSection from "@builders/custom-section/CustomSection.astro";
import Image from "@components/building-blocks/core-elements/image/Image.astro";
import Heading from "@core-elements/heading/Heading.astro";
import Text from "@core-elements/text/Text.astro";
import ButtonGroup from "@wrappers/button-group/ButtonGroup.astro";

const {
  image = "",
  imageAlt = "",
  heading = "",
  subtext = "",
  buttonSections = [],
  colorScheme = "inherit",
  backgroundColor,
  class: className,
  rounded = false,
  useDefaultEditableBinding = false,
  _component,
  paddingHorizontal = "lg",
  paddingVertical = "2xl",
  ...htmlAttributes
} = Astro.props;
---

<CustomSection
  class:list={["cta-center", className]}
  maxContentWidth="2xl"
  paddingHorizontal={paddingHorizontal}
  paddingVertical={paddingVertical}
  colorScheme={colorScheme}
  useDefaultEditableBinding={useDefaultEditableBinding}
  {...htmlAttributes}
>
  <div class:list={["cta-content",`bg-${backgroundColor}`, rounded ? "rounded-sm" : ""]}>
    <Image 
      source={image} 
      alt={imageAlt}
      width={136} 
      aspectRatio="square" 
      data-editable="image" 
      data-prop-src="image"
      data-prop-alt="imageAlt"
    />
    <Heading
      level="h2"
      size="sm"
      alignX="center"
      data-prop="heading"
      text={heading}
      style="margin:0"
    />
    <Text
      alignX="center"
      data-prop="subtext"
      text={subtext}
    />
    <ButtonGroup
      class="buttonSections"
      buttonSections={buttonSections}
      alignX="center"
      data-children-prop="buttonSections"
    />
  </div>
</CustomSection>

<style is:global>
  @layer page-sections {
    .rounded-sm{
      border-radius: var(--radius-sm);
    }
    .cta-content{
      padding:32px 24px;
      border: 1px solid var(--color-border-subtle);
      border-radius: var(--radius-xs);
      overflow: hidden;

      & .image{
        display: flex;
        justify-content: center;
        margin-top:0;
      }
    }

    .button > a{
      width:100%;
      max-width:320px;
    }

    .bg-muted{
      background-color: var(--color-bg-muted);
    }
  }
</style>